
/.vscode
codingsupport.md
favicon.ico
/json
/log
main.py
message.py
/share
test.py
twinkle systems-edit.txt
/.cache
/.local
/static/general_imgs
/static/globalchat_img
config/auth0.conf
test.json
dash.md
key_gen.py
*.txt

**/*.idea\workspace.xml
**/*.xml
**/*.iml
**/*.idea\modules.xml
assets\__pycache__\dash_api.cpython-312.pyc
assets\__pycache__\get_saves.cpython-312.pyc