
/.vscode
codingsupport.md
favicon.ico
/json
/log
main.py
message.py
/share
test.py
twinkle systems-edit.txt
/.cache
/.local
/static/general_imgs
/static/globalchat_img
config/auth0.conf
test.json
dash.md
